* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Whitney';
    src: url('../../public/fonts/whitneymedium.otf');
}

:root {
    --gray100: #181818;
    --gray200: #363636;
    --orange900: #ff4d27;
    --highlight: #dfd7c3;

    font-size: 62.5%;
}

*::selection {
    background: var(--highlight);
    color: #181818;
    -webkit-text-fill-color: var(--gray100);
}

body {
    background-color: var(--gray100);
    font-family: 'Whitney', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--highlight);
}

main {
    display: flex;
    flex-direction: column;
    padding: 4.4rem 1.6rem;
    margin: 0 auto;
    overflow-x: hidden;
    min-height: 100vh;
    max-width: 932px;
    width: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* HEADER */
.header {
    align-items: center;
    margin-bottom: 7.2rem;
    width: 100%;
}

.header h1 {
    font-size: 4.4rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 2.8rem;
}

.header__input-container {
    position: relative;
    margin: 0 auto;
    height: fit-content;
    max-width: 52rem;
    width: 100%;
}

.header__input-container img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
}

.header__input-container input {
    background-color: var(--gray200);
    border: none;
    border-radius: 0.8rem;
    color: var(--highlight);
    font-size: 1.6rem;
    padding: 1.2rem 1.6rem;
    transition: all 300ms ease-in-out;
    outline: 2px solid transparent;
    width: 100%;
}

.header__input-container input:focus, .header__input-container input:active {
    background-color: var(--gray200);
    outline: 2px solid var(--orange900);
}

.header__input-container input::placeholder {
    color: var(--highlight);
    font-size: 1.6rem;
    font-style: italic;
    opacity: .5;
}

/* CONTENT */
.content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.6rem;
    list-style: none;
    width: 100%;
}

/* CARD */
.content__card {
    background: var(--gray200);
    border-radius: 1.2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 0.8rem);
    gap: 1.6rem;
    padding: 3.2rem;
    padding-bottom: 3.4rem;
    transition: all 300ms ease-in-out;
    height: 28rem;
}

.content__card:hover {
    background: var(--gray200);
    box-shadow: 0 0 0 2px var(--orange900);
}

.content__card__title-box {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    width: 100%;
}

.content__card__title-box svg {
    background: var(--orange900);
    border-radius: 999px;
    padding: .8rem;
    height: 4.2rem;
    width: 4.2rem;
}

.content__card__title-box svg path {
    stroke: var(--gray200);
}

.content__card__title-box h2 {
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 700;
}

.content__card p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    opacity: .5;
    width: 100%;
}

/* BREAKPOINTS */
@media (max-width: 650px) {
    .header h1 {
        font-size: 3.2rem;
    }

    .content__card {
        flex-basis: 100%;
        height: auto;
    }

    .content__card__title-box h2 {
        font-size: 2.4rem;
    }
}